.main {
  --min-screen: 700px;
  display: flex;
  padding: 0 10vw;
}

.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: max(8.2vw, 100px);
}

.title {
  margin-bottom: 1em;
  height: max(12.85vw, calc(0.1285 * var(--min-screen)));
}

.subtitle {
  color: #828FB1;
  font-size: max(1.5vw, calc(0.015 * var(--min-screen)));
  margin-bottom: 0.5em;
  text-align: center;
}

.emphasis {
  color: #FF5B5B;
}

.date {
  color: #C2C8D5;
  font-size: max(1.8vw, calc(0.018 * var(--min-screen)));
  font-weight: 400;
  text-align: center;
}
