.footer {
  background-color: #282624;
  width: 100%;
  min-height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c3c6e2;
  padding: 1em 1em;
  flex-wrap: wrap;
  gap: 0.5em;
}

.top {
  display: flex;
  gap: 0.5em;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  width: 100%;
}

.linkContainer {
  display: flex;
  gap: 1.5em;
}

.love {
  font-weight: bold;
}
