.leftButton, .rightButton {
	position: absolute;
	top: 50%;
	z-index: 30;
	transition: padding 0.2s ease;
	cursor: pointer;
	transform: translateY(-50%);
	display: flex;
	justify-items: center;
	align-items: center;
}

.leftButton {
	left: 0;
	margin-left: 1em;
}

.rightButton {
	right: 0;
	margin-right: 1em;
}

.leftButtonImage {
	height: 4em;
	width: auto;
}

.rightButtonImage {
	height: 4em;
	width: auto;
	transform: rotate(180deg);
    transform-origin: center;
}

.carouselContainer {
	width: 100%;
	width: 100vw;
	padding: 0.5em 0;
	z-index: 20;
}

.inner {
	padding: 0 10vw;
}

@media screen and (max-width: 600px) {
	.inner {
		padding: 0;
	}
}
