.top_primary {
  background: url("../../../public/images/ui/pushbutton-top-primary.png");
  image-rendering: pixelated;
}

.top_secondary {
  background: url("../../../public/images/ui/pushbutton-top-secondary.png");
  image-rendering: pixelated;
}

.bottom_primary {
  background: url("../../../public/images/ui/pushbutton-bottom-primary.png");
  image-rendering: pixelated;
}

.bottom_secondary {
  background: url("../../../public/images/ui/pushbutton-bottom-secondary.png");
  image-rendering: pixelated;
}

.top_primary,
.top_secondary {
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  transition: transform 0.1s;
  user-select: none;
  color: #470707;
  position: absolute;
  width: 100%;
  aspect-ratio: 134/40;
  font-size: max(8px, 1.1vw);
  line-height: 90%;
  top: 0;
}

.bottom_primary,
.bottom_secondary {
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  aspect-ratio: 134/17;
  bottom: 0;
}

.hitbox {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 100;
}

.hitbox:active ~ .top_primary,
.hitbox:active ~ .top_secondary {
  transform: translate(0, 15%);
}
