.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    margin-top: -7.5px;
}

.container {
	background: url('../../../public/frame.png');
	background-size: contain;
    background-repeat: no-repeat;
	width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
}

.container:hover {
    margin-bottom: -13px;
}

.container2 {
	background: url('../../../public/bottom.png');
	background-size: contain;
    background-repeat: no-repeat;
	width: 100px;
    height: 15px;
    position: absolute;
    bottom: 0;
}

.text {
    letter-spacing: -1px;
    color: #470707;
    font-size: 15px;
}