.App {
	display: flex;
	align-items: center;
	flex-direction: column;
  background-image: url('../../../public/images/backgrounds/ScheduleBackground.png');
  background-repeat: no-repeat;
	background-size: contain;
  background-position: top;
  box-sizing: border-box;
  margin-top: max(30vw, 341.4px);
  height: max(40.5vw, 460.9px);
  width: max(45vw, 512.1px);
  padding: max(2.5vw, 28.45px) max(6.5vw, 74px);
	z-index: 2;
}

.header {
  font-size: max(3.4vw, 38.7px);
  color: #282A36;
}

.row {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: max(1.25vw, 14px);
}

.eventContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin-top: max(2.9vw, 33px);
  height: max(2.35vw, 26.7px);
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
  font-size: max(1vw, 11.4px);
}

.rightText {
	text-align: right;
}

.pageNavButton {
  background: none;
  border: none;
  font-size: max(3vw, 34.2px);
  position: absolute;
  bottom: 0;
  margin: max(2.5vw, 28.5px);
  cursor: pointer;
}
