.App {
	display: flex;
	align-items: center;
	flex-direction: column;
  background-image: url('../../../public/images/backgrounds/ScheduleBackground.png');
  background-repeat: no-repeat;
	background-size: contain;
  background-position: top;
  box-sizing: border-box;
  top: 22.5vw;
  height: 40.5vw;
  width: 45vw;
  padding: 4em 10em;
	z-index: 2;
}

.header {
  font-size: 3.4vw;
  color: #282A36;
}

.row {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 1.25vw;
  margin-bottom: 2.25vw;
}

.eventContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin-top: 2.9vw;
  height: 2.35vw;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
  font-size: 1vw;
}

.rightText {
	text-align: right;
}

.pageNavButton {
  background: none;
  border: none;
  font-size: 3vw;
  position: absolute;
  bottom: 0;
  margin: 2.5vw;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
	.App {
		font-size: 15px;
	}
}
@media screen and (max-width: 900px) {
	.App {
		font-size: 14px;
	}
}

@media screen and (max-width: 675px) {
	.App {
		font-size: 13px;
	}
	.row {
		flex-wrap: wrap;
	}
	.eventContainer {
		height: 5.25em;
	}
}
@media screen and (max-width: 600px) {
	.App {
		padding: 1.75em;
	}
}
@media screen and (max-width: 550px) {
	.App {
		padding: 1.75em 0.5em;
	}
}

@media screen and (max-width: 475px) {
	.App {
		padding: 1.75em 0;
	}
}
