.App {
  --min-screen: 640px;
	display: flex;
	align-items: center;
	flex-direction: column;
  background-image: url('../../../public/images/backgrounds/ScheduleBackground.png');
  background-repeat: no-repeat;
	background-size: contain;
  background-position: top;
  box-sizing: border-box;
  margin-top: max(30vw, calc(0.3 * var(--min-screen)));
  height: max(40.5vw, calc(0.405 * var(--min-screen)));
  width: max(45vw, calc(0.45 * var(--min-screen)));
  padding: max(2.5vw, calc(0.025 * var(--min-screen))) max(6.5vw, calc(0.065 * var(--min-screen)));
	z-index: 2;
}

.header {
  font-size: max(3.4vw, calc(0.034 * var(--min-screen)));
  color: #282A36;
}

.row {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: max(1.25vw, calc(0.0125 * var(--min-screen)));
}

.eventContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin-top: max(2.9vw, calc(0.029 * var(--min-screen)));
  height: max(2.35vw, calc(0.0235 * var(--min-screen)));
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
  font-size: max(1vw, calc(0.01 * var(--min-screen)));
}

.rightText {
	text-align: right;
}

.pageNavButton {
  background: none;
  border: none;
  font-size: max(3vw, calc(0.03 * var(--min-screen)));
  position: absolute;
  bottom: 0;
  margin: max(2.5vw, calc(0.025 * var(--min-screen)));
  cursor: pointer;
  color: #CF3030;
}

.pageNavButton:hover {
    color: #bd2c2c;
}

.pageNavButton:disabled {
    color: gray;
}
