.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.title {
  font-size: 4em;
  color: #c3c6e2;
}

@media screen and (max-width: 1000px) {
  .container {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    font-size: 13px;
  }
}
