.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    color: #C3C6E2;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .75em;
}

.form label {
    color: #C3C6E2;
}

.form div {
    display: flex;
    flex-direction: column;
    gap: .2em;
}
